<div class="w-full h-full">
  <div>Turn: {{ turn }}</div>
  <div class="flex flex-row">
    <div *ngFor="let pl of players" class="w-full">
      {{ pl.name }}
      <div *ngFor="let bid of pl.bids | keyvalue">
        {{ bid.key }}: {{ bid.value }}
      </div>
      <div class="font-mono text-sm">{{ determineWhichFactionToBid(currentBids, pl) }}</div>
    </div>
  </div>

  <div *ngFor="let fac of factions | keyvalue" [class]="fac.value.colorClass + ' '">
    <div class="flex flex-row w-full justify-around">
      <div>{{ fac.key }}</div>
      <input [(ngModel)]="fac.value.bid" type="number" min="-1" max="1000" />
      <div>{{ fac.value.player ? fac.value.player.name : 'not assigned yet' }}</div>
    </div>
  </div>

  <div class="w-32 h-24" (click)="determineWhichFactionToBid(currentBids, players[0])">STEP</div>

  <div>
    <label for="player-select">Choose a player:</label>

    <select name="player" id="player-select" [(ngModel)]="selectedPlayer">
      <option *ngFor="let p of players" [ngValue]="p">{{ p.name }}</option>
    </select>

    <input type="button" (click)="placeBid(currentBids, selectedPlayer)" value="PLACE BET">
  </div>
</div>